extends layout

block navbar
  +nav_item("/") Home
  +nav_item("/browse","active") Browse
  +nav_item("/search") Search

block content
    .container
        if crumbs.length > 0
            ol.breadcrumb
                each crumb in crumbs
                    if crumb.url
                        li
                            a(href="#{crumb.url}") #{crumb.title}
                    else
                        li= crumb
        h1 Browse
        hr

        if list && list.length > 0
            +list-group-custom()
            each item in list
                +list-group-item(item.url)
                    h4
                        span(class="glyphicon #{item.glyph}")
                        span  #{item.title}
        else
            h1 None found

