extends layout

block navbar
  +nav_item("/") Home
  +nav_item("/browse","active") Browse
  +nav_item("/search") Search

block content
    .container
        ol.breadcrumb
            each crumb in crumbs
                if crumb.url
                    li
                        a(href="#{crumb.url}") #{crumb.title}
                else
                    li= crumb

        h1#top
            |Editting: #{docTitle}
            a.btn.btn-default.pull-right(href="view") Back
        form(role="update", method="post", action=edit_url)
            input(type="hidden", name="_method", value="put")
            .form-group
                input(id="doc", type="hidden", name="doc", value=doc)
            .form-group
                a.btn.btn-default(href="#top") Back to Top
                button.btn.btn-warning(type="submit").col-lg-1.pull-right Update
                
block css
    link(rel="stylesheet" href="/css/codemirror.css")
    style.
        .CodeMirror {
          border: 1px solid #eee;
          height: auto;
        }

block js
    script(src="/js/codemirror.js")

    script.
         var editor = CodeMirror.fromTextArea($('#doc')[0], {
             lineWrapping: true,
             viewportMargin: Infinity
         });
         CodeMirror.on(editor, 'change', function(cm) { $('#doc').val(cm.getValue()); });
