extends layout

block navbar
  +nav_item("/") Home
  +nav_item("/browse") Browse
  +nav_item("/search","active") Search

block content
    .container
        h1#top
            | Query results
            if docs && docs.length > 0
                form(method="post", action="/search/download").pull-right
                    input(type="hidden", name="docs", value=docs)
                    button(type="submit").btn.btn-success Dowload Results

        hr
        if query
            form(method="get" action="/search/query")
                input(type="hidden", name="q", value=query)
                .input-group
                    input.form-control(name="r", type="search", placeholder="Refine Search")
                    span.input-group-btn
                        button.btn.btn-success(type="submit", aria-label="search")
                            span.glyphicon.glyphicon-search(aria-hidden="true")
        .result
            if results && results.length > 0
                h4 Query returned #{results.length} results.
                +list-group-custom()
                each item in results
                    +list-group-item(item.url)
                        h4.large
                            span(class="glyphicon glyphicon-file")
                            span #{item.title}
                        span.small #{item.context}
            else
                if xquery
                    h3 XQuery Results
                    code #{xquery}
                else
                    h2 No results found
        br
        a.btn.btn-default(href="/search") Back
        a.btn.btn-default.pull-right(href="#top") Back to Top
