extends layout

block navbar
  +nav_item("/") Home
  +nav_item("/browse","active") Browse
  +nav_item("/search") Search

block content
    .container
        ol.breadcrumb
            each crumb in crumbs
                if crumb.url
                    li
                        a(href="#{crumb.url}") #{crumb.title}
                else
                    li= crumb
        .tei.panel.panel-default
            .jumbotron
                h2 !{doc.title}
            .panel-body
                .pull-right
                    a#download.btn.btn-success(href='#{download_url}') Download
                h2#author Authors
                p 
                    ul
                        !{doc.author}
                hr
                h2 Source Description
                p !{doc.sourceDesc}
                hr
                h2 Front
                p#front.front= doc.front
                hr
                h2 Body
                p#body.text !{doc.body}
