extends layout

block navbar
  +nav_item("/") Home
  +nav_item("/browse","active") Browse
  +nav_item("/search") Search

block content
    .container
        ol.breadcrumb
            each crumb in crumbs
                if crumb.url
                    li
                        a(href="#{crumb.url}") #{crumb.title}
                else
                    li= crumb
        .tei.panel.panel-default
            .jumbotron
                h2 !{doc.title}
            .panel-body
                .pull-right
                    a.btn.btn-warning(href='edit') Edit
                    span  
                    a.btn.btn-success(href='download') Download
                h2#author Authors
                hr
                p 
                    ul !{doc.author}

                br
                h2#srcDesc Source Description
                hr
                p !{doc.sourceDesc}

                br
                h2#correspDesc Corrospondence Description
                hr
                .row
                    if doc.correspDesc.recieve
                        .col-sm-6
                            h3#from Recieved
                            p
                                if doc.correspDesc.recieve.person
                                   |To #{doc.correspDesc.recieve.person}.

                    if doc.correspDesc.sent
                        .col-sm-6
                            h3#to Sent
                            p
                                if doc.correspDesc.sent.date
                                   |Sent on #{doc.correspDesc.sent.date}.
                                if doc.correspDesc.sent.place
                                   |  From #{doc.correspDesc.sent.place}.

                br
                h2#front Front
                hr
                p.front= doc.front

                br
                h2#body Body
                hr
                p.text !{doc.body}
block css
    link(rel="stylesheet" href="/css/tei.css")
